.sidebar{
  background: $c_sidebar;
  width:24%;
  max-width: 180px;
  height: 100%;
  font-size:0.8rem;
  text-align: left;

  display: flex;
  flex-direction: column;

  .sidebar-options{
    margin:10px 0;
    padding:0;
    list-style: none;

    li{
      margin-bottom: 5px;
      label{
        font-size:.7rem;
        color: lighten($c_sidebar, 40%);
      }
      input[type=text]{
        background: lighten($c_sidebar, 20%);
        border:0;
        width:100%;
        padding:3px;
        color: lighten($c_sidebar, 60%);
      }
    }
  }

  .sidebar-top{
    padding: 12px;
  }

  .sidebar-layers{
    background: darken($c_sidebar, 10%);
    margin-top: auto;
    padding:20px;
    font-size:.7rem;
    text-align: center;
  }
}
