@import 'normalize';
@import 'variables';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $c_bg;
}

body, html{
  height:100%;
  text-align: center;
  font-weight: normal;
  color:#f0f0f0;
}
a{
  color:#f0f0f0;
  text-decoration: none;
}
#app1{
 min-width:200px;
  height:100%;
  display: flex;
}
.svg-container{
    width:75%;
    height:100%;
    flex: 1;

    svg{
      width:100%;
      height: 100%;
    }
}



.sidebar{
  background: $c_sidebar;
  width:24%;
  max-width: 180px;
  height: 100%;
  font-size:0.8rem;
  text-align: left;

  padding: 15px;

}
