@import 'normalize';
$bgcolor :#222;
body {
  background: $bgcolor;
}

body, html{
  height:100%;
  text-align: center;
  font-weight: normal;
  color:#f0f0f0;
}
a{
  color:#f0f0f0;
  text-decoration: none;
}
#app1{
 min-width:200px;
  height:100%;
}
svg{
    width:75%;
    height:100%;
    border:1px solid blue;
    float: right;
}


.sidebar{
  background: lighten($bgcolor, 10%);
  width:24%;
  height: 100%;
  float:left;
  font-size:1rem;
  text-align: left;
}
